<div *ngIf="query" style="display: flex; flex-direction: column; width: 230px;">

    <label for="edition">Edition : </label>
    <select id="edition" [(ngModel)]="query.editionId" *ngIf="!edition">
      <option *ngFor="let edition of editions" value="{{edition.id}}">{{edition.title}}</option>
    </select>

  <label for="title">Title : </label>
  <input type="text" id="title" [(ngModel)]="query.title" required/>

  <label for="type">Type : </label>
  <select id="type" [(ngModel)]="query.type">
    <option *ngFor="let type of types" value="{{type.id}}">{{type.label}}</option>
  </select>

  <label for="minbluemana">Min Blue mana : </label>
  <input type="number" id="minbluemana" [(ngModel)]="query.minBlueMana"/>

  <label for="maxbluemana">Max Blue mana : </label>
  <input type="number" id="maxbluemana" [(ngModel)]="query.maxBlueMana"/>

  <label for="mingreenMana">Min Green mana : </label>
  <input type="number" id="mingreenMana" [(ngModel)]="query.minGreenMana"/>

  <label for="maxgreenMana">Max Green mana : </label>
  <input type="number" id="maxgreenMana" [(ngModel)]="query.maxGreenMana"/>

  <label for="minwhiteMana">Min White mana : </label>
  <input type="number" id="minwhiteMana" [(ngModel)]="query.minWhiteMana"/>

  <label for="maxwhiteMana">Max White mana : </label>
  <input type="number" id="maxwhiteMana" [(ngModel)]="query.maxWhiteMana"/>

  <label for="minblackMana">Min Black mana : </label>
  <input type="number" id="minblackMana" [(ngModel)]="query.minBlackMana"/>

  <label for="maxblackMana">Max Black mana : </label>
  <input type="number" id="maxblackMana" [(ngModel)]="query.maxBlackMana"/>

  <label for="minredMana">Min Red mana : </label>
  <input type="number" id="minredMana" [(ngModel)]="query.minRedMana"/>

  <label for="maxredMana">Max Red mana : </label>
  <input type="number" id="maxredMana" [(ngModel)]="query.maxRedMana"/>

  <label for="minneutralMana">Min Neutral mana : </label>
  <input type="number" id="minneutralMana" [(ngModel)]="query.minNeutralMana"/>

  <label for="maxneutralMana">Max Neutral mana : </label>
  <input type="number" id="maxneutralMana" [(ngModel)]="query.maxNeutralMana"/>

  <label for="levelCard">Level card : </label>
  <input type="number" id="levelCard" [(ngModel)]="query.levelCard"/>

  <label for="rarity">Rarity : </label>
  <select id="rarity" [(ngModel)]="query.rarity">
    <option *ngFor="let rarity of rarities" value="{{rarity.id}}">{{rarity.label}}</option>
  </select>
</div>

<button (click)="search()">Search</button>
<button (click)="reset()">Reset</button>

<div *ngIf="results">
  <span *ngIf="results.length == 0">No result !!!</span>
</div>
<div *ngFor="let result of results">
  <a href="./admin/card/{{result.id}}">
  {{result.title}}
  <img src="{{result.urlImage}}"/>
</a>
</div>
